<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Map BlogInterface -> Model/Data/Blog -->
    <preference for="Magenest\Blog\Api\Data\BlogInterface"
      type="Magenest\Blog\Model\Blog" />

    <!-- Map BlogRepositoryInterface -> BlogRepository -->
    <preference for="Magenest\Blog\Api\BlogRepositoryInterface"
      type="Magenest\Blog\Model\BlogRepository" />
</config>
