<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="10">
            <label>Magenest</label>
        </tab>

        <section id="magenest_customui" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Custom UI Configuration</label>
            <tab>magenest</tab>
            <resource>Magenest_CustomUi::config</resource>

            <group id="background_colors" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Background Colors</label>

                <field id="color_options" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color Options</label>
                    <frontend_model>Magenest\CustomUi\Block\Adminhtml\System\Config\Form\Field\ColorOptions</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Configure background colors for frontend pages</comment>
                </field>
            </group>
        </section>
    </system>
</config>
